

<div>
    <% posts.forEach(post => {  %>
        <div class="post">
            <div class="top">
                <img src=<%= post.author.profile %> alt="">
                <h2><%= post.author.username %></h2>
                <div>
                    <a href="/posts/update/<%= post._id %>">edit</a>
                    <a href="/posts/delete/<%= post._id %>">delete</a>
                </div>
            </div>
            <p><%= post.title %></p>
            <div class="post-img">
                <img src=<%= post.image %> alt="">
            </div>
            <p><%= post.content %></p>
            <p><%= post.tags %></p>
        </div>
   <% }); %>
</div>